/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Almennt */

/** Letur og stærðir **/

/*** Grunnstærð er 16px ***/
html {
  font-size: 16px;
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  /* TODO Bæta við leturgerð */
  font-family:'Matemasie';
  src: url(./gogn/Matemasie-Regular.ttf) format(woff2);
}

@font-face {
  /* TODO Bæta við leturgerð */
  font-family:'Open Sans';
  src: url(./gogn/OpenSans-VariableFont_wdth\,wght.ttf) format(woff2);
}

@font-face {
  /* Sama leturgerð, nema feitletruð */
  font-family:'Open Sans';
  src: url(./gogn/OpenSans-VariableFont_wdth\,wght.ttf) format(woff2);
  font-weight: bold;
}

/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
  /* TODO Skilgreina */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  /* TODO Skilgreina */
  font-family:'Matemasie';
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
/* Rúnar myndir */
  border-radius: 5px;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body>.
 */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  background-color: #f3dd99;
}

.wrapper main {
  flex: 1;
}

/* Það sem fylgir er tillaga að uppbyggingu á selectorum fyrir verkefnið */

/** Haus á síðum **/


header {
  /* TODO Skilgreina */
  background-color: #cc99bb;
  text-align: center;
  padding: 1rem;
}

/** Valmynd **/

nav {
  /* TODO Skilgreina */
  background-color: #eebbdd;
  padding: 1rem;
  border-bottom: 4px solid #cc99bb;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem; 
}

nav ul li:last-child {
  margin-right: 0;
}

/* TODO Skilgreina aðra selectora fyrir valmynd */

/** Meginmál og efni forsíðu **/

main {
  padding: 1rem;
}
main p {
  margin-bottom: 1rem;
}
section {
  display: block;
}

/* held þetta sé ekki að gera neitt fyrir mig
section img {
  margin: 1rem;
}
*/

/* TODO Skilgreina aðra selectora fyrir meginmál of forsíðu */

/* þetta editar bara myndina á forsíðu án þess að breyta myndum í spil eða viðburðir */
.frontpage img {
  float: right;
  max-width: 600px;
  vertical-align: top;
}

/** Fótur **/

footer {
  /* TODO Skilgreina */
  background-color: #eebbdd;
  border-top: 4px solid #cc99bb;
  text-align: center;
}

/* Ef við notum section fyrir hvert svæði undir fót, þá er hægt að nota eftirfarandi */
footer > section {
  display: inline-block;
  /* Lætur efni byrja efst í línu, almennt myndum við nota flexbox hér! */
  vertical-align: top;
  /* TODO fleiri skilgreiningar */
}

footer ul {
  list-style: none;
}

footer h2{
  padding: 1rem;
}

footer dl dt {
  font-weight: bold;
}

footer dl dd {
  margin-bottom: 0.5rem;
}
/* TODO Skilgreina aðra selectora fyrir fót */

/** Spilasíða, töflustílar **/

table {
  border-collapse: collapse;
}
table td {
  margin-right: 1rem;
  padding: 0.5rem;
  text-align: left;
}
table th {
  text-align: left;
  padding: 0.5rem;
}
table th:first-child {
  /* þetta felur 'Mynd' í töflunni sbr. fyrirmynd*/
  font-size: 0px;
}
table img {
  min-width: 200px;
  vertical-align: middle;
}

tbody tr:nth-child(odd) {
  background-color: #eebbdd;
}

/* TODO Skilgreina aðra selectora fyrir töflu */

/** Viðburðir **/
.page2 section {
  margin: auto;
  width: 100%;
  max-width: 900px;
  min-height: 180px;
}
.page2 section p {
  margin-left: 210px;
}
.page2 section p:last-child {
  margin-top: 4rem;
  /* ég veit ekki hvernig ég gæti fært þetta niður með CSS án þess að breyta því í HTML */
}
.page2 h3 {
  margin-bottom: 1rem;
}
.page2 img {
  float: left;
}

.event {
  /* TODO Skilgreina, gerum ráð fyrir að hver viðburður hafi eigin selector */
}

/* TODO Skilgreina aðra selectora fyrir viðburði */

/** Skráningarform **/
.page4 {
  margin-left: 2rem
}

form {
  
}
form fieldset {
  border: 0px;  
}
form legend {
  font-size: 22px;
  margin-bottom: 0;
}
form fieldset div label {
  display: block;
}
form select,
form textarea, 
form input {
  min-width: 250px;
  margin-bottom: 1rem;
}
.checkbox input {
  min-width: 0px;
}
.checkbox input:last-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


form button {
  border-radius: 5px;
  background-color: #eebbdd;
  margin-bottom: 1rem;
}
/* TODO Skilgreina */
